# Fundamental
# numpy
# jax  # See document for installation
jax==0.4.27
optax
dm-haiku
numpyro
numba
tensorboardX
ipdb

# Used by environment
# mujoco==3.3.7
gymnasium[mujoco]==1.0.0
dill==0.3.8
# free-mujoco-py
matplotlib
scikit-learn

# Utility
tqdm
setproctitle
pyyaml
