# Fundamental
# numpy
# jax  # See document for installation
jax==0.4.27
optax
dm-haiku
numpyro
numba
tensorboardX
ipdb

# Used by environment
# mujoco==3.3.7
gymnasium[mujoco]==0.29.0
dill==0.3.8
# free-mujoco-py
matplotlib
scikit-learn
opencv-python==4.9.0.80


# Utility
comet_ml
tqdm
setproctitle
pyyaml
lz4
robosuite==1.4.1
causal_world
omegaconf
mani_skill==3.0.0b22
